<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
            <mat-icon>menu</mat-icon>
        </button>
        KnowFlorida
        <span class="toolbar-spacer"></span>
        My Account
    </mat-toolbar-row>
    <mat-toolbar-row>
        <span style="font-size: 12px;">KnowFlorida helps you in knowing about all the various conditions of your favourite city: FLORIDA CITY</span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container style="height: 88vh">
    <mat-sidenav mode="side" #sidenav opened position="start">
        CLIMATE
        <mat-nav-list>
        <a mat-list-item [routerLink]="'/maxtemp'"> Max Temperature </a>
        <a mat-list-item [routerLink]="'/mintemp'"> Min Temperature </a>
        <a mat-list-item [routerLink]="'/humidity'"> Humidity </a>
        <a mat-list-item [routerLink]="'/pressure'"> Pressure </a>
        </mat-nav-list>
        LIFE
        <mat-nav-list>
            <a mat-list-item [routerLink]="'/lifeexpectancy'"> Average Life Expectancy </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
      
